<h1>Login form</h1>
<form action="/login" method="post">
    <label for="username">Username : </label>
    <input type="text" id="username" name="username" required placeholder="Username">
    <label for="pass">Password : </label>
    <input type="password" id="pass" name="password" required placeholder="Password">
    <button>Login!</button>
</form>