<h1>Sign up form</h1>
<form action="/register" method="post">
    <label for="username">Username : </label>
    <input type="text" id="username" name="username" required>
    <label for="pass">Password : </label>
    <input type="password" id="pass" name="password" required>
    <button>Sign Up!</button>
</form>